*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
text-decoration: none; 
box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(75, 84, 122);
}
form{
    background: rgb(172, 178, 179);s
    width: 350px;
    height: 580px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align:center;
    margin-bottom: 45px;
    color: black;
    font-size: 40px;
}
.textBoxdiv{
    border-bottom: 2px solid black;
    position: relative;
    margin: 35px 0;
}
.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: b;
    height: 30px;
    font-size: 20px;
}
.loginBtn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: antiquewhite;
    background-size: 200%;
    color: black;
    font-size: 15px;
}
.loginBtn:hover{
    background-position: right;
    font-size: 17px;
}
.signup{
    color: black;
    margin-top: 45%;
    text-align: center;
}
.signup a{
    color: black;
}